<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ar-startup-crawl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49419C301FBD94E000695889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49419C461FBD94E100695889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49419C511FBD94E100695889</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4986F56720055FDD00FA0B7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49EE604D200571B0001CB6AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
